extends layout

block content
  #login.text-center-middle
    form.mdl-grid.text-center
      .mdl-cell.mdl-cell--12-col
        mdl-inputfield(label="account")
      .mdl-cell.mdl-cell--12-col
        mdl-inputfield(label="password" type="password")
      .mdl-cell.mdl-cell--12-col
        mdl-button(label="login" raised="true" accent="true" with-ripple="true")

